<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
</head>
<body>


<div class="container">
  <img src="https://i.ibb.co/hCTGzQ2/Minimalist-Wallpaper-Abduction-wallpaper-alien-cows-gentoo-minimalistic-ufo-Wallpaper-For-You-The-Be.jpg" alt="Snow" height=580 width=1200>
  <div class="centered">we are sorry, we cannot get images from the future </div>
</div>
</body>
</html>