<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<table class="table">
                      
                        <tbody>
                        {% for i in data %}
                            <tr>
                                <td>{{ i.camera.full_name }}</td>
                                <td><img src={{i.img_src}}></td>
                          
                            </tr>
                        {% endfor %}
                        </tbody>
           </table>
</body>
</html>