<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<a href="{% url 'nasa:pictureoftheday'%}"> show the picture of the day</a>
<br>
<a href="{% url 'nasa:nearearthobjects'%}"> get information about near earth objects</a>
<br>
<a href="{% url 'nasa:allmeteorlandings'%}"> wanna know about the meteor landings in the past?</a>
<br>
<a href="{% url 'nasa:getlocnearmeteor'%}"> Give location and get information about nearest meteor landings</a>
<br>
<a href="{% url 'nasa:marsroverpics'%}">check MARS rover pics</a>
<br>
</body>
</html>